<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Pesquisa de Pedidos</title>
</head>
<body>
<div class="container">
    <h2>Resultado da Pesquisa de Pedidos</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Endereço</th>
            <th>Entrega</th>
            <th>Data/Hora do Pedido</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pedido : ${pedidos}">
            <td th:text="${pedido.codPedido}"></td>
            <td th:text="${pedido.produto}"></td>
            <td th:text="${pedido.quantidade}"></td>
            <td th:text="${pedido.endereco}"></td>
            <td th:text="${pedido.entrega}"></td>
            <td th:text="${dataFormatada}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
